@media (max-width: 414px){
body{
  background-image: none;
  font-size: 12px;
}

#wrapper{
    border: 0;
    margin: 0;
    padding: 10;


}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (3, auto);
    grid-template-areas: 414px;
    grid-template-areas:
    "sidebar"
    "content";
}

.sidebar{
  grid-area: sidebar;
  display: inline;
  max-height: 50%;
  max-width: 50%;
  margin-left: 150px;
  /* margin-right: -300px; */
}

 header span {
  display: inline;
  grid-area: header;
  /* text-align: left; */
  font-family: "Miller Banner", serif;
  font-weight: 400;
  color: rgb(16, 16, 16);
  font-size: 12px;

}

header a:hover {
  text-decoration: underline;
  color: #c79b6b;
}

header a:visited {
  color: rgb(16,16,16);
}

nav {
  grid-area: nav;
  min-height: 100px;
  height: auto;
  width: 100%;
  /* margin-left: -45px; */

}

nav ul {
  list-style-type: none;
  padding-left: 0;


}

nav li {
  font-family: "miller-banner", serif;
  font-style: italic;
  font-weight: 400;
  display: block;
  color: rgb(16, 16, 16);
  /* font-size: 16px; */
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 100px;
}

nav a {
  display: block;
  text-decoration: none;
  color: rgb(16, 16, 16);
  max-width: 100%;
  /* color: #1a0d00; */
}

a:hover {
  text-decoration: underline;
  color: #c79b6b;
}

a {
  color: #c79b6b;
  text-decoration: none;
}

.address{
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 400;
  display: block;
  color: #ccc;
  /* font-size: 10px; */
  font-variant-caps: all-small-caps;
  /* line-height: 1px; */
  /* padding-top: 50px;
  padding-bottom: 50px;
  margin-left: -10px;
  text-align: center; */
}

.address a:visited {
  color: #ccc;

}

.address a:hover{
  text-decoration: underline;
  color: #c79b6b;
}

a{
  color: #c79b6b;
  text-decoration: none;
}


 .content {
  grid-area: content;
  display: inline;
  width: 300px;

}


h3{
  background-color: rgb(16,16,16);
  color: rgb(250,250,250);

}

footer {
  grid-area: footer;
  font-size: 100%;
  /* color: #ccc;
  width: 960px;
  margin: 0 auto; */
}

/* #about .content li{
  list-style-type: none;
  /* margin-right: 60px;
  padding: 0;
  margin-left: -45px;
  text-align: left; */

}

/* #about .content p{
  line-height: .8px;
} */
