/* @import url('https://fonts.googleapis.com/css?family=Roboto|Rajdhani'); */
@import url("https://use.typekit.net/fkz7lpw.css");
/* @import url('https://fonts.googleapis.com/css?family=Amatic+SC'); */

#wrapper {
  width: 960px;
  margin: 0 auto;
  min-width: 33%

}

.grid {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: repeat (3, auto);
  grid-template-areas:
  "sidebar  content";
}

.sidebar{
  grid-area: sidebar;
}

header {
  display: block;
  grid-area: header;
  text-align: left;
  font-family: "Miller Banner", serif;
  font-weight: 400;
  color: rgb(16, 16, 16);
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 50px;

}

header a:hover {
  text-decoration: underline;
  color: #c79b6b;
}

header a:visited {
  color: black;
}

nav {
  grid-area: nav;
  min-height: 100px;
  height: auto;
  width: 100%;
  margin-left: -45px;

}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0px;
}

nav li {
  font-family: "miller-banner", serif;
  font-style: italic;
  font-weight: 400;
  display: block;
  color: rgb(16, 16, 16);
  font-size: 16px;
  margin-top: 0px;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: rgb(16, 16, 16);
  /* color: #1a0d00; */
}

a:hover {
  text-decoration: underline;
  color: #c79b6b;
}

a {
  color: #c79b6b;
  text-decoration: none;
}



.content {
  grid-area: content;
  width: 100%;
  margin: 0 auto;

}

footer {
  grid-area: footer;
  color: #ccc;

}
