/* @import url('https://fonts.googleapis.com/css?family=Roboto|Rajdhani'); */
@import url("https://use.typekit.net/fkz7lpw.css");
/* @import url('https://fonts.googleapis.com/css?family=Amatic+SC'); */

#wrapper {
  width: 960px;
  margin: 0 auto;
  min-width: 33%
  grid-gap: none;
  border: 1px;
  border-color: #ccc
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat, (3, auto);
  grid-template-areas:
    "masthead     masthead"
    "sidebar1     content"
    "sidebar2     content";

}

.sidebar1 {
  display: block;
  grid-area: sidebar1;
  text-align: left;
  font-family: "Miller Banner", serif;
  font-weight: 400;
  color: rgb(16, 16, 16);
  font-size: 32px;
  padding-top: 20px;
  max-height: 5px;
  margin-top: 50px;
  margin-right: 40px;
  margin-bottom: 0px;
}

.sidebar1 a:hover {
  text-decoration: underline;
  color: #c79b6b;
}

.sidebar1 a:visited {
  color: black;
}

.sidebar2 {
  grid-area: sidebar2;
  min-height: 100px;
  height: auto;
  width: 100%;
  margin-left: -100px;
}

 /* #it skills { */

 }

/* #it skills ul { */
  /* list-style-type: none; */
  /* padding: 10px 40px;
  text-align: left;
  margin: 0 30px;
} */




/* h3, h4 { */
  /* padding-top: 20px; */
  color: rgb(16,16,16);
  line-height: .8;
  margin: 0;
  /* font-size: 24px; */
  padding-bottom: 5px;
}

/* h3 { */
  /* font-size: 21px;
}

h4 {
  font-size: 18px;
} */

/* p { */
  /* padding-top: 20px; */
  line-height: 1.05;
  margin: 0;
}



.content {
  grid-area: content;
  padding-top: 20px;
  /* max-height: 20px; */
  margin-top: 40px;
  margin-right: 40px;
  width: 100%;
  height: auto;
}


.masthead {
  grid-area: masthead;
}

.masthead aside img {
  width: 25%;

}



footer {
  grid-area: sidebar2;
  color: #ccc;

}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0px;
}

nav li {
  font-family: "miller-banner", serif;
  font-style: italic;
  font-weight: 400;
  display: block;
  color: rgb(16, 16, 16);
  font-size: 16px;
  margin-top: 0px;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: rgb(16, 16, 16);
  /* color: #1a0d00; */
}

a:hover {
  text-decoration: underline;
  color: #c79b6b;
}

a {
  color: #c79b6b;
  text-decoration: none;
}

#about main{
  grid-template-columns: 1fr 2fr;
}
