@import url('https://fonts.googleapis.com/css?family=Montserrat');


#wrapper {
  width: 960px;
  margin: 0 auto;
  min-width: 33%;
  max-height: 550px;

}

.grid {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: repeat (3, auto);
  grid-gap: 40px;
  grid-template-areas:
  "sidebar  content";
}

.sidebar{
  grid-area: sidebar;
}

header {
  display: block;
  grid-area: header;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: rgb(16,16,16);
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 50px;
  font-style: bold;

}

 header a:hover {
  text-decoration: underline;
  color: #c79b6b;
}

 header a:visited {
 color: rgb(16,16,16);
 text-decoration: underline;

}

a:hover {
  text-decoration: underline;
  color: #c79b6b;
}

a {
  color: #c79b6b;
  text-decoration: none;
}

nav {
  grid-area: nav;
  min-height: 100px;
  height: auto;
  width: 100%;
  margin-left: -45px;
  text-align: left;

}

nav ul {
  list-style-type: none;
  text-align: left;
  margin-left: 7px;
}

nav li {
  font-family: "Montserrat", sans-serif;
  font-style: bold;
  font-weight: 400;
  display: block;
  color: rgb(16, 16, 16);
  font-size: 14px;
  font-variant-caps: all-small-caps;
  margin-top: 0px;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: rgb(16,16,16);
  /* color: #1a0d00; */
}

a:hover {
  text-decoration: underline;
  color: #c79b6b;
}

a {
  color: #c79b6b;
  text-decoration: none;
}

.address{
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 400;
  display: block;
  color: #ccc;
  font-size: 12px;
  font-variant-caps: all-small-caps;
  line-height: 1px;
  padding-top: 100px;
  padding-bottom: 30px;
  margin-left: -1px;
  text-align: left;
}

.address a:visited {
  color: #ccc;
  text-decoration: underline;


}

.address a:hover {
  text-decoration: underline;
  color: #c79b6b;
}

.address a{
  color: #c79b6b;
  text-decoration: none;
}

.content {
  grid-area: content;
  width: 100%;
  margin: 0 auto;
  padding-top: 45px;

}

h2{
  color: #ccc;
  font-size: 10px;
  position: relative;
  padding-left: 10px;
}

h3{
  padding-left: 10px;
  background-color: rgb(16,16,16);
  color: rgb(250,250,250);
  padding: 5px;
  /* margin-left: -10px;  */
}

footer {
  grid-area: footer;
  color: #ccc;
  width: 960px;
  margin: 0 auto;
  font-size: 10px;

}
#about content{
  grid-gap: 40px;
  padding-left: 10px;
}

#about .content ul li{
  list-style-type: none;
  margin-right: 60px;
  padding: -30px;
  margin-left: -30px;
  text-align: left;

}

#about .content p{
  line-height: .8px;
  padding-left: 10px;
  /* padding-top: 45px;  */
}
#about h4{
  color: rgb(16,16,16);
  font-size: 16px;
  position: relative;
  padding-left: 30px;
  margin-left: -19px;
}

#about h3{
  padding-left: 40px;
  background-color: rgb(16,16,16);
  color: rgb(250,250,250);
  padding: 5px;
  margin-left: 6px

  }
  #about header {
    display: block;
    grid-area: header;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: rgb(16, 16, 16);
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 50px;

  }

   #about header a:hover {
    text-decoration: underline;
    color: #c79b6b;
  }

   #about header a:visited {
   color: rgb(16,16,16);
   text-decoration: underline;

  }

  #about a:hover {
    text-decoration: underline;
    color: #c79b6b;
  }

  #about a {
    color: #c79b6b;
    text-decoration: none;
  }

  #about nav {
    grid-area: nav;
    min-height: 100px;
    height: auto;
    width: 100%;
    margin-left: -45px;
    text-align: left;

  }

  #about nav ul {
    list-style-type: none;
    text-align: left;
    margin-left: 7px;
  }

  #about nav li {
    font-family: "Montserrat", sans-serif;
    font-style: bold;
    font-weight: 400;
    display: block;
    color: rgb(16, 16, 16);
    font-size: 14px;
    margin-top: 0px;
    font-variant-caps: all-small-caps

  }

  #about nav a {
    display: inline-block;
    text-decoration: none;
    color: rgb(16, 16, 16);
    /* color: #1a0d00; */
  }

  #about a:hover {
    text-decoration: underline;
    color: #c79b6b;
  }

  #about a {
    color: #c79b6b;
    text-decoration: none;
  }
